In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from pathlib import Path
import csv

In [2]:
pwd

'/Users/lauraleecallahan/Desktop/Project-1-3'

In [4]:
#finding the correct directory to use for reading the csv files
import os
os.listdir('/Users/lauraleecallahan/Desktop/Project-1-3/Data')

['vyr5f-datacite.json',
 'res.csv',
 'GamingStudy_data.csv',
 'GamingStudy_data_try2.csv']

In [9]:
# File to Load 
gaming_men_to_load = "Data/res.csv"
gaming_anx_to_load = "Data/GamingStudy_data_try2.csv"

In [11]:
# Read Gaming Data Files and store into Pandas DataFrames
gaming_men = pd.read_csv(gaming_men_to_load)
gaming_anx = pd.read_csv(gaming_anx_to_load)

In [12]:
gaming_anx.head()

,S. No.,Timestamp,GAD1,GAD2,GAD3,GAD4,GAD5,GAD6,GAD7,GADE,...,SPIN17,Narcissism,Gender,Age,Work,Playstyle,accept,GAD_T,SWL_T,SPIN_T
0,1,42052.00437,0,0,0,0,1,0,0,Not difficult at all,...,0.0,1.0,Male,25,Unemployed / between jobs,Singleplayer,Accept,1,23,5.0
1,2,42052.00680,1,2,2,2,0,1,0,Somewhat difficult,...,2.0,1.0,Male,41,Unemployed / between jobs,Multiplayer - online - with strangers,Accept,8,16,33.0
2,3,42052.03860,0,2,2,0,0,3,1,Not difficult at all,...,2.0,4.0,Female,32,Employed,Singleplayer,Accept,8,17,31.0
3,4,42052.06804,0,0,0,0,0,0,0,Not difficult at all,...,0.0,2.0,Male,28,Employed,Multiplayer - online - with online acquaintanc...,Accept,0,17,11.0
4,5,42052.08948,2,1,2,2,2,3,2,Very difficult,...,0.0,1.0,Male,19,Employed,Multiplayer - online - with strangers,Accept,14,14,13.0

In [13]:
gaming_anx['Timestamp'] = pd.to_datetime(gaming_anx['Timestamp'], origin='1899-12-30', unit='D')
gaming_anx.head()

,S. No.,Timestamp,GAD1,GAD2,GAD3,GAD4,GAD5,GAD6,GAD7,GADE,...,SPIN17,Narcissism,Gender,Age,Work,Playstyle,accept,GAD_T,SWL_T,SPIN_T
0,1,2015-02-17 00:06:17.568000256,0,0,0,0,1,0,0,Not difficult at all,...,0.0,1.0,Male,25,Unemployed / between jobs,Singleplayer,Accept,1,23,5.0
1,2,2015-02-17 00:09:47.520000256,1,2,2,2,0,1,0,Somewhat difficult,...,2.0,1.0,Male,41,Unemployed / between jobs,Multiplayer - online - with strangers,Accept,8,16,33.0
2,3,2015-02-17 00:55:35.040000000,0,2,2,0,0,3,1,Not difficult at all,...,2.0,4.0,Female,32,Employed,Singleplayer,Accept,8,17,31.0
3,4,2015-02-17 01:37:58.655999744,0,0,0,0,0,0,0,Not difficult at all,...,0.0,2.0,Male,28,Employed,Multiplayer - online - with online acquaintanc...,Accept,0,17,11.0
4,5,2015-02-17 02:08:51.072000256,2,1,2,2,2,3,2,Very difficult,...,0.0,1.0,Male,19,Employed,Multiplayer - online - with strangers,Accept,14,14,13.0

In [14]:
columns_before = gaming_anx.shape[1]
df_cleaned = gaming_anx.dropna(axis=1, how='all')
columns_after = df_cleaned.shape[1]

In [18]:
print(gaming_anx.columns)

Index(['S. No.', 'Timestamp', 'GAD1', 'GAD2', 'GAD3', 'GAD4', 'GAD5', 'GAD6',
       'GAD7', 'GADE', 'SWL1', 'SWL2', 'SWL3', 'SWL4', 'SWL5', 'Platform',
       'Hours', 'earnings', 'whyplay', 'League', 'highestleague', 'streams',
       'SPIN1', 'SPIN2', 'SPIN3', 'SPIN4', 'SPIN5', 'SPIN6', 'SPIN7', 'SPIN8',
       'SPIN9', 'SPIN10', 'SPIN11', 'SPIN12', 'SPIN13', 'SPIN14', 'SPIN15',
       'SPIN16', 'SPIN17', 'Narcissism', 'Gender', 'Age', 'Work', 'Playstyle',
       'accept', 'GAD_T', 'SWL_T', 'SPIN_T'],
      dtype='object')